@mixin aspect-ratio($padding-top: 100%, $child: img) {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: $padding-top;
  margin: 0;

  > #{$child} {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      object-fit: cover;
      object-position: center;
  }
}

@mixin fancy-text($font-size: $text-base) {
  font-size: $font-size;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
}