// Colors
$primary: #020000;
$gray: #555555;
$whitish: #f2f2f2;

// Font-size
$text-sm: .85rem;
$text-base: 1rem;
$text-md: 1.25rem;
$text-lg: 2rem;

// Widths
$large-container: 1240px;

// Radius
$radius-sm: 0.25rem;

// Spacing
$spacing-sm: 0.5rem;
$spacing-base: 1rem;
$spacing-md: 1.5rem;
$spacing-lg: 2.5rem;
