<header>
    <nav class="navbar">
        <a class="navbar__logo">
            <img src="/assets/img/logo.svg" />
        </a>

        <ul class="navbar__list">
            <li>
                <a href="">
                    Home
                </a>
            </li>

            <li>
                <a href="">
                    Features
                </a>
            </li>

            <li>
                <a href="">
                    Blog
                </a>
            </li>

            <li>
                <a href="">
                    About us
                </a>
            </li>

            <li>
                <a href="">
                    Contact us
                </a>
            </li>
        </ul>
    </nav>
</header>